<div class="container">
    <div class="row">
        <div class="col-md-9 restaurant-content-area scrollbar-md-up">
            <section class="restaurant-basics">
                <h1>{{ Restaurant.name }}</h1>
                <p>{{ Restaurant.restaurantInfo.description }}</p>
            </section>

            <section class="restaurant-menu">
                <h1>De menukaart van "{{ Restaurant.name }}"</h1>
                <div class="restaurant-menu-list">
                    <ng-container *ngTemplateOutlet="restaurantMenuFilter"></ng-container>
                    <table class="table restaurant-menu-table">
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Beschrijving</th>
                                <th>Prijs</th>
                                <th>Categorie</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let menuItem of Restaurant.restaurantMenu">
                                <tr>
                                    <td>{{ menuItem.name }}</td>
                                    <td>{{ menuItem.description }}</td>
                                    <td>{{ menuItem.price.toString() | restaurantPrice }}</td>
                                    <td>{{ menuItem.menuCategory.displayName }}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <div class="restaurant-menu-ul">
                        <ng-container *ngFor="let menuItem of Restaurant.restaurantMenu; last as last">
                            <ul>
                                <li>{{ menuItem.name }}</li>
                                <li>{{ menuItem.description }}</li>
                                <li>{{ menuItem.price.toString() | restaurantPrice }}</li>
                                <li>{{ menuItem.menuCategory.displayName }}</li>
                            </ul>
                        </ng-container>
                    </div>
                </div>
            </section>
        </div>
        <aside class="col-md-3 restaurant-sidebar-area">
            <div class="aside-box scrollbar-md-up padding-right-0px padding-md-down-left-0px">
                <app-restaurant-logo [src]="Restaurant.imageLogo" [alt]="Restaurant.name"></app-restaurant-logo>

                <div class="restaurant-speed-data margin-top-10px">
                    <app-restaurant-type-tooltip [restaurantTypes]="Restaurant.restaurantInfo.restaurantTypes"></app-restaurant-type-tooltip>
                    <hr class="custom-hr">
                    <span class="small-text">
                        <p><i class="fas fa-home"></i>: {{ Restaurant.streetName }} {{ Restaurant.streetNumber }}</p>
                        <p *ngIf="Restaurant.restaurantInfo.phoneNumber !== 'Geen'">
                            <i class="fas fa-phone"></i>: <a href="tel:{{ Restaurant.restaurantInfo.phoneNumber }}">{{ Restaurant.restaurantInfo.phoneNumber }}</a>
                        </p>
                        <p *ngIf="Restaurant.restaurantInfo.mobilePhoneNumber !== 'Geen'">
                            <i class="fas fa-mobile-alt"></i>: <a href="tel:{{ Restaurant.restaurantInfo.mobilePhoneNumber }}">{{ Restaurant.restaurantInfo.mobilePhoneNumber }}</a>
                        </p>
                        <a href="{{ Restaurant.restaurantInfo.website }}" class="btn btn-primary btn-block" target="_blank">Website</a>
                        <button class="btn btn-primary btn-block" type="button" data-toggle="modal" data-target="#restaurantContactModal">
                            Contact
                        </button>
                        <div class="alert alert-success margin-top-8px" *ngIf="MessageSent">
                            Je hebt een bericht verzonden
                        </div>
                    </span>
                </div>
            </div>
        </aside>
    </div>
</div>

<ng-template #restaurantMenuFilter>
    <div class="restaurant-menu-filter">
        <div class="search-bar">
            <input type="text" class="form-control" placeholder="Naam" #restaurantMenuFilterName (keyup)="menuFilterOnChange(restaurantMenuFilterName.value, strToNumber(restaurantMenuFilterPrice.value), restaurantMenuFilterCat.value)">
        </div>
        <div class="filter">
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" (click)="bootstrapRestaurantMenuFilter(restaurantMenuFilterDropdown)">Meer</button>
                <div class="dropdown-menu dropdown-menu-custom padding-8px" #restaurantMenuFilterDropdown>
                    <p class="margin-0px">Prijs:</p>
                    <input type="number" class="form-control" #restaurantMenuFilterPrice (keyup)="menuFilterOnChange(restaurantMenuFilterName.value, strToNumber(restaurantMenuFilterPrice.value), restaurantMenuFilterCat.value)">
                    
                    <p>Category:</p>
                    <select class="form-control" #restaurantMenuFilterCat (change)="menuFilterOnChange(restaurantMenuFilterName.value, strToNumber(restaurantMenuFilterPrice.value), restaurantMenuFilterCat.value)">
                        <option [value]="menuCategory.name" *ngFor="let menuCategory of RestaurantMenuItemCategories">{{ menuCategory.displayName }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<form #restaurantContect="ngForm" (ngSubmit)="onRestaurantSubmit(restaurantContect.value, restaurantContect)" [formGroup]="RestaurantContactForm">
    <div class="modal fade" id="restaurantContactModal" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contact: {{ Restaurant.name }}</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body padding-top-6px">
                    <ng-container *ngIf="!MessageSent">
                        <p class="margin-0px">Naam:</p>
                        <input name="name" type="text" class="form-control" ngModel formControlName="name">
    
                        <p class="margin-0px">Onderwerp:</p>
                        <input name="subject" type="text" class="form-control" ngModel formControlName="subject">
    
                        <p class="margin-0px">Jouw e-mail:</p>
                        <input name="email" type="email" class="form-control" ngModel formControlName="email">
    
                        <p class="margin-0px">Bericht:</p>
                        <textarea name="message" rows="8" class="form-control" ngModel formControlName="message"></textarea>
                    </ng-container>
                    <ng-container *ngIf="MessageSent">
                        <p class="margin-0px padding-top-4px">Je hebt al een bericht verzonden naar dit restaurant</p>
                    </ng-container>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Sluiten</button>
                    <input type="submit" class="btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</form>