@use "sass:map";
@import "/src/scss/bootstrap/bootstrap-start.scss";

@import "/node_modules/bootstrap/scss/tables";
@import "/node_modules/bootstrap/scss/alert";
@import "/node_modules/bootstrap/scss/dropdown";

@mixin restaurant-menu-filter {
    .restaurant-menu-filter {
        padding: 7px;
        background-color: #BFBFBF;
        margin-bottom: 5px;
        display: flex;

        .search-bar {
            flex: 1;

            input {
                width: 200px;

                @include media-breakpoint-down(sm) {
                    width: 130px;
                }
            }
        }

        .filter {
            flex: 0;

            .dropdown-menu-custom {
                top: auto !important;
                left: auto !important;
                width: 218px;
                transform: translate3d(-142px, 39px, 0px) !important;

                @include media-breakpoint-up(sm) {
                    width: 400px;
                    transform: translate3d(-323px, 39px, 0px) !important;
                }
            }
        }
    }
}

.container, .row {
    height: 100%;
    max-height: 100%;
}

.restaurant-sidebar-area {
    padding: 0;

    .aside-box {
        background-image: linear-gradient(#F2F2F2 37%, #C8C8C8);
        height: 100%;
        padding: 15px;

        .restaurant-speed-data:first-child {
            margin-top: 0 !important;
        }

        .restaurant-speed-data {
            .audio-call {
                max-width: 100%;
            }
        }
    }
}

.restaurant-content-area {
    padding-bottom: 15px;
    @include media-breakpoint-up(md) {
        height: 100%;
    }
    @include media-breakpoint-down(md) {
        margin-bottom: 0 !important;
    }

    .restaurant-menu {
        .restaurant-menu-list {
            background-color: #F2F2F2;
            padding: 10px;
            border-radius: 5px;

            .restaurant-menu-add-to-cart-btn-onclick:active {
                background-color: green;
            }

            @include restaurant-menu-filter();

            .restaurant-menu-table {
                @media screen and (max-width: 460px) {
                    display: none;
                }
                @media screen and (width: 460px) {
                    display: table;
                }
            }
            .restaurant-menu-ul {
                @media screen and (min-width: 460px) {
                    display: none;
                }
                ul {
                    border: 1px solid black;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    border-radius: 5px;
                }
                ul:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media screen and (max-width: map.get($grid-breakpoints, "md")) {
        margin-bottom: 18px;
    }
    @media screen and (width: map.get($grid-breakpoints, "md")) {
        margin-bottom: 0;
    }
}

@mixin form-valid-check {
    .ng-invalid {
        border: 1px solid red;
        border-left: 5px solid red;
    }
}
@mixin modal-classes {
    .modal {
        .modal-dialog {
            .modal-content {
                .modal-header {
                    .close {
                        border: 0;
                    }
                }
                .modal-body {
                    @content;
                }
            }
        }
    }
}

@include modal-classes();

.ng-submitted {
    @include modal-classes() {
        @include form-valid-check();
    }
}