<div class="main-container padding-10">
    <h1>Winkelwagen</h1>
    <p>Welkom bij de winkelwagen van Alkmaarse restaurants</p>

    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Aantal</th>
                <th>Prijs</th>
                <th><span class="bootstrap-sm-down-hide">Wijzigen</span></th>
                <th class="bin-product bootstrap-sm-down-hide">Verwijderen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cart of cartService.cart?.cartItems">
                <td class="max-content">{{ getCartItemFromMenu(cartService.cart, cart.productById).name }}</td>
                <td>{{ cart.amount }}</td>
                <td class="restaurantPipe">{{ (getCartTotalPrice(getCartItemFromMenu(cartService.cart, cart.productById).price, cart.amount)) | currency:'EUR' }}</td>
                <td class="btn-spacing">
                    <button class="btn btn-primary margin-5" (click)="cartService.addProductToCart(cart.productById, cartService.cart?.restaurant)"><i class="fas fa-plus"></i></button>
                    <button class="btn btn-primary margin-5" (click)="cartService.removeProductFromCart(cart.productById, 'one')"><i class="fas fa-minus"></i></button>
                    <button class="btn btn-danger margin-5 bootstrap-sm-up-hide" (click)="cartService.removeProductFromCart(cart.productById, 'all')"><i class="fas fa-trash"></i></button>
                </td>
                <td class="bin-product bootstrap-sm-down-hide">
                    <button class="btn btn-danger bin-btn" (click)="cartService.removeProductFromCart(cart.productById, 'all')"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
            <tr class="cart-footer">
                <td colspan="2"></td>
                <td>Totaal: <span class="restaurantPipe">{{ totalPrice | currency:'EUR' }}</span></td>
                <td colspan="2"></td>
            </tr>
        </tbody>
    </table>
</div>