<div class="container-fluid restaurant-rows">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-4">
            <app-restaurants-logo [src]="Restaurant.imageLogo" [height]="'auto'"></app-restaurants-logo>
            <img [src]="Restaurant.imageLogo" class="img">
        </div>
        <div class="col-sm-6 col-md-7 col-lg-8">
            <div class="container-fluid">
                <h1 *ngIf="!isRestaurantPage">
                    <a [routerLink]="['/restaurant', Restaurant.id]">
                        {{ Restaurant.name }}
                    </a>
                </h1>
                <h1 *ngIf="isRestaurantPage">
                    {{ Restaurant.name }}
                </h1>
                <div class="row">
                    <div class="col">
                        <ul>
                            <li>Adres: {{ Restaurant.address }}</li>
                            <li>Straat naam: {{ Restaurant.streetName }} {{ Restaurant.streetNumber }}</li>
                        </ul>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Restaurant type: {{ Restaurant.restaurantType }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <hr *ngIf="last !== true">
</div>