@import "/src/scss/bootstrap/bootstrap-start.scss";

@import "/node_modules/bootstrap/scss/grid";

.container {
    background-color: gray;
    min-height: 100vh;
    padding: 0;

    main {
        padding: 70px 15px;
        min-height: 100%;

        .main-colour {
            box-sizing: border-box;
            padding: 10px;
            border-radius: 5px;
            min-height: calc(100vh - ( 2 * 70px ));
            background-color: #FFFFFF;
        }
    }
}