<div class="padding-10">
    <div class="container custom-container">
        <h1>Alkmaarse Restaurants</h1>
        <p>
            Welkom bij de webshop Alkmaarse Restaurants, de plek waar je al je favorieten restaurants kunt vinden. 
            Vanaf onze website kan je direct je favorieten gerechten bestellen en thuis laten bezorgen. 
            Je hebt de keuzen uit allerlei verschillende restaurants waaronder Fast Food of Wok restaurants
        </p>
        <img src="/assets/Home-img.jpg" alt="Foto: Voedsellevering" class="home-img">
        <p>
            Omdat restaurants het in tijden zoals dezen het moeilijker hebben, hebben wij besloten om een website op te zetten waar 
            restaurants in Alkmaar op een goedkopere manier te kunnen draaien als thuisbezorgt. Omdat thuisbezorgt een macht positie 
            heeft hebben restaurants vaak geen andere keuzen dan met thuisbezorgt in zee geen. Daarom gaat Alkmaarse Restaurants dit 
            oplossen met goedkope prijzen voor het restaurant en de klant.
        </p>
        <p>
            De bezorgers van Alkmaarse Restaurants bezorgen van 9 uur s morgens tot en met 9 s avonds.
        </p>
    </div>
</div>