<div class="padding-10">
    <div class="container custom-container">
        <div class="row">
            <div class="col-lg-8 padding-left-0">
                <h1>Alkmaarse Restaurants</h1>
                <p>
                    Welkome bij de webshop Alkmaarse Restaurants de plek waar je al je favorieten restaurants kund vinden. 
                    Daarnaast kun je ook bestellingen doen bij deze restaurant. Deze bestellingen worden binnen 1 1/2 uur bezorgt.
                </p>
                <img src="/assets/Home-main-img.jpg" alt="Foto: Voedsellevering" class="home-img">
            </div>
            <div class="col-lg-4 padding-right-0">
                <img class="home-img" src="/assets/Home-img.jpg" alt="Home pagina: Een foto van een tafel met een paar borden en glazen er op">
            </div>
        </div>
    </div>
</div>