<div class="padding-10">
    <ng-container *ngTemplateOutlet="restaurantFilter"></ng-container>

    <ng-container *ngTemplateOutlet="restaurantLayout"></ng-container>
</div>


<ng-template #restaurantLayout>
    <div class="container-fluid restaurant-rows" *ngFor="let Restaurant of Restaurants; last as last;">
        <ng-container *ngIf="Restaurant.restaurantType.name == RestaurantTypeSelected || !RestaurantFilterSelected">
            <hr class="custom-hr">
            <div class="row">
                <div class="col-sm-6 col-md-5 col-lg-4">
                    <app-restaurant-logo [src]="Restaurant.imageLogo" [alt]="Restaurant.name"></app-restaurant-logo>
                </div>
                <div class="col-sm-6 col-md-7 col-lg-8">
                    <div class="container-fluid">
                        <h1>
                            <a [routerLink]="['/restaurant', Restaurant.id]">
                                {{ Restaurant.name }}
                            </a>
                        </h1>
                        <app-restaurant-type-tooltip [restaurantTypes]="Restaurant.restaurantInfo.restaurantTypes"></app-restaurant-type-tooltip>
                        <div class="address-container">
                            <div class="title">Adres:</div>
                            <div class="content">
                                {{ Restaurant.streetName }} {{ Restaurant.streetNumber }}
                                <br>
                                {{ Restaurant.postalCode }} {{ Restaurant.address }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</ng-template>

<ng-template #restaurantFilter>
    <div class="btn-group">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="collapse" data-target="#restaurant-filter-selecter">Filteren</button>
        <div class="dropdown-menu padding-8 restaurant-filter" id="restaurant-filter-selecter">
            <form #restaurantFilter>
                <p>
                    <input  type="checkbox"
                            class="filter-checkbox"
                            [checked]="RestaurantFilterSelected"
                            (change)="onFilterChange($event)">Gebruik filter
                </p>

                <p class="margin-0">Restaurant type:</p>
                <select name="restaurantType" class="form-control" [(ngModel)]="RestaurantTypeSelected">
                    <option [value]="restaurant.name" *ngFor="let restaurant of RestaurantTypes">{{ restaurant.displayName }}</option>
                </select>
            </form>
        </div>
    </div>
</ng-template>