// CSS bug: https://bugs.webkit.org/show_bug.cgi?id=26559
// 
// Problem: Do to the provided bug above. A child element cannot inherit the parent height when the parent element uses "min-height"
// 
// Solution: The solution is to use javascript/typescript in order to make the child element just as big as the parent content

.parent {
    box-sizing: border-box;
}

.child {
    border-radius: 5px;
    min-height: 100%;
    box-sizing: border-box;
}

.content {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.bottom-placeholder {
    margin: 0;
    padding: 0;
    border: 0;
    height: 1px;
}